<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

{% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://code.jquery.com/jquery-3.3.0.min.js" integrity="sha256-RTQy8VOmNlT6b2PIRur37p6JEBZUE7o8wPgMvu18MC4=" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" integrity="sha256-3Jy/GbSLrg0o9y5Z5n1uw0qxZECH7C6OQpVBgNFYa0g=" crossorigin="anonymous"></script>
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  </head>
  <body>

      <header>
        <h1>{{ site.title | default: site.github.repository_name }}</h1>
        <p>{{ site.description | default: site.github.project_tagline }}</p>
      </header>

      <div id="banner">
        <!-- logo span css has ocotocast-logo.png as background, so we override with a small club logo -->
        <span id="logo"><img src="{{ '/assets/images/octocat-logo.png' | relative_url }}" alt="Small Club Logo" style="max-width:100%;"></span>

        <!-- Left-aligned button, remove comments/edit as needed
        <a href="http://rose-2030.org" class="button"><strong>Home</strong></a>
        -->

        <!-- Controlled by _config.yml -->
        {% if site.show_buttons %}
          <!-- Re-use downloads CSS class for right-align -->
          <div class="downloads">
            <span>
              <!-- Text label for right-aligned buttons can go here-- >
            </span>
            <!-- Buttons are defined in _data/buttons.yml -->
            {% for button in site.data.buttons %}
              <a href="{{ button.url }}" class="button">{{ button.name }}</a>
            {% endfor %}
          </div>
        {% endif %}
      </div><!-- end banner -->

    <div class="wrapper">
      <nav>
        <ul></ul>
      </nav>
      <section>
        {{ content }}

      </section>
      <footer>
        <!-- Club logo -->
        <a href="http://www.active20-30.org/"><img src="{{ '/assets/images/2030-logo.png' | relative_url }}" alt="Club Logo" style="max-width:70%;"></a>
        {% if site.github.is_project_page %}
          <p>Project maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p><small> Copyright Active 20-30 Club #36 &mdash; Hosted on <a href="{{ site.github.repository_url }}">GitHub Pages</a> &mdash; Theme by <a href="https://twitter.com/michigangraham">mattgraham</a></small></p>
      </footer>
    </div>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->

    {% if site.google_analytics %}
      <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>